@model Product
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@{
    //When there is just one tier (with  qty 1), there are no actual savings in the list.
    //var displayTierPrices = Model.Count > 0 && !(Model.Count == 1 && Model[0].Quantity <= 1);
}
@*@if (displayTierPrices)
{*@
    <div class="tier-prices">
        <div class="prices-header">
            <strong>@T("Products.TierPrices")</strong>
        </div>
        <div class="prices-list">
            <div class="panel-default">
                <table class="table table-bordered  table-striped">
                    <tr>
                        <td class="field-header span3">
                            @T("Products.TierPrices.Quantity")
                        </td>
                        @foreach (TierPrice tierprice in Model.TierPrices)
                        {
                            <td class="item-quantity span3">
                                @(tierprice.Quantity)+
                            </td>
                        }
                    </tr>
                    <tr>
                        <td class="field-header span3">
                            @T("Products.TierPrices.Price")
                        </td>
                        @foreach (TierPrice tierprice in Model.TierPrices)
                        {
                            <td class="item-price span3 tier-price-value">
                                $@tierprice.Price.ToString("#.#0")
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
@*}*@