@{
    Layout = null;
}

<style>
    /* START - Load Gif */
    #dv-loading-gif {
        text-align: center;
        height: 800px;
        padding: 275px;
        color: #003b77;
        font-size: 32px;
        display: none;
    }
    /* END - Load Gif */
</style>
<div id='dv-loading-gif'>
    <p id="loading-gif-message">Loading your editor...</p>
    <div id='loading-gif-img-wrap'>
        <img src='http://www.houseofmagnets.com/img/loader2.gif' alt='' />
    </div>
</div>