<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header_before" })

    <div class="header-lower">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="header-logo">
                        @await Component.InvokeAsync("Logo")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6  pull-right">
                    @*<div class="search-box">
                            @await Component.InvokeAsync("SearchBox", "Catalog")
                        </div>*@
                </div>
                @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        @await Component.InvokeAsync("FlyoutShoppingCart", "ShoppingCart")
                    </div>*@
            </div>
        </div>
    </div>
</div>
