@model Nop.Plugin.Widgets.Marketing.EmailPref.Models.EmailPreferencesErrorModel
@using Nop.Web.Framework;
@using System.Web.Mvc;

@{
    Layout = "";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>House Of Magnets Email Subscription Preferences</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <style type="text/css">
        p {
            margin: 0px;
            padding: 5px 0px;
        }

        .content {
            padding: 15px 15px;
        }

            .content p {
                font-family: 'Droid Sans', sans-serif;
                font-weight: normal;
                color: #333333;
                line-height: 17px;
                font-size: 14px;
            }

            .content h1 {
                font-family: 'Droid Sans', sans-serif;
                font-weight: normal;
                padding-bottom: 0px;
                text-align: center;
                color: #01265b;
                padding: 0px;
                margin: 0px;
            }

            .content .headline {
                padding-bottom: 0px;
                font-family: 'Droid Sans', sans-serif;
                font-size: 18px;
                line-height: 20px;
            }

        .cb {
            margin: 28px 0px 0px 7px;
        }

        .radio {
            margin: 28px 0px 0px 7px;
        }
    </style>
</head>

<body>
    <table width="800" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
        <tbody>
            <tr>
                <td>
                    <div>
                        <table width="100%" bgcolor="#01265b" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td bgcolor="#01265b" style="background-color: #01265b;">
                                    <table bgcolor="#01265b" width="580" align="center" cellspacing="0" cellpadding="0" border="0" class="width320" style="margin: 0 auto;">
                                        <tr>
                                            <td>
                                                <table width="540" align="center" cellspacing="0" cellpadding="0" border="0" class="width280">
                                                    <tr>
                                                        <td style="font-family: Helvetica, arial, sans-serif; font-size:12px; color: #FFFFFF; text-align:center; padding-top:5px; padding-bottom: 7px;">There was an error with your subscription preferences.</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td bgcolor="#ffffff" style="background-color:#ffffff;">
                                    <table bgcolor="#ffffff" width="580" align="center" cellspacing="0" cellpadding="0" border="0" class="width320" style="margin: 0 auto;">
                                        <tr>
                                            <td style="padding-bottom:0px;">
                                                <table width="540" align="center" cellspacing="0" cellpadding="0" border="0" class="width280">
                                                    <tr>
                                                        <td style="font-family: Helvetica, arial, sans-serif; font-size:12px; color: #FFFFFF; text-align:center;"><div><a href="http://www.houseofmagnets.com"> <img src="https://d1ok0qgebci2d3.cloudfront.net/130/320x65/logo_HOM.png" alt="House of Magnets" width="320" height="65" style="border:none; outline:none; text-decoration:none;"></a></div></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="content" style="padding-bottom:30px; text-align: center;">
                    <h1>OOPS!</h1>
                    <p>We ran into an error trying process your request: <span style="color:red;">@Model.ErrorMessage</span>.</p>
                </td>
            </tr>
            <!--    <tr>
              <td style="padding-bottom:30px"><h1 style="text-align:center; color:#01265b; ">ROW</h1></td>
            </tr>-->
        </tbody>
    </table>

</body>
</html>
