@{
    Layout = "";
}
<div id="joinlistthankyou1">THANK YOU!</div>
<div id="joinlistthankyou2">Your email has been subscribed.</div>

<style>
    #joinlistthankyou1 {
        font-weight: bold
    }
</style>