@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="header-upper">
       <!-- <div class="header-selectors-wrapper">
            
            @await Component.InvokeAsync("TaxTypeSelector", "Common")
            
            @await Component.InvokeAsync("CurrencySelector", "Common")
            
            @await Component.InvokeAsync("LanguageSelector", "Common")
            
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
        </div>-->
        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks", "Common")
            @await Component.InvokeAsync("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="@storeName" src="@Url.Content(logoPath)">
            </a>
        </div>
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox", "Catalog")
        </div>
    </div>
</div>
