@model Nop.Plugin.Catalog.GBS.Models.CategoryNavigationModelCustom
@using Nop.Plugin.Catalog.GBS.Models;
@{
    if (Model.NoOfChildren < 0)
    {
        Model.NoOfChildren = 0;
    }
    int NoOfChildren = Model.NoOfChildren;
}
<link href="/Plugins/Catalog.GBS/content/styles.css" rel="stylesheet" />

@if (Model.Categories.Count > 0)
{
    <div class="block block-category-navigation">
        <div class="title">
            <strong>@T("Categories")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @foreach (var category in Model.Categories)
                {
                    if (Model.AllCategory)
                    {
                        var categoryLineModel = new CategoryNavigationModelCustom.CategoryLineModelCustom
                        {
                            CurrentCategoryId = Model.CurrentCategoryId,
                            Category = category,
                            NoOfChildren = NoOfChildren,
                            AllCategory = Model.AllCategory
                        };
                        @await Html.PartialAsync("~/Plugins/Catalog.GBS/Views/_CategoryLine.NavigationCustom.cshtml", categoryLineModel)
                    }
                    else if (category.ProductsCount > 0 || Nop.Plugin.Catalog.GBS.Controllers.WidgetsCategoryNavigationController.HasSubcategoryProducts(category))
                    {
                        var categoryLineModel = new CategoryNavigationModelCustom.CategoryLineModelCustom
                        {
                            CurrentCategoryId = Model.CurrentCategoryId,
                            Category = category,
                            NoOfChildren = NoOfChildren,
                            AllCategory = Model.AllCategory
                        };
                        @await Html.PartialAsync("~/Plugins/Catalog.GBS/Views/_CategoryLine.NavigationCustom.cshtml", categoryLineModel)
                    }
                }
            </ul>
        </div>
    </div>
}
