@model IEnumerable<Nop.Plugin.Products.SpecificationAttributes.Models.ProductCategoryTitleModel>
@{
    Layout = "";
    int itemCount = 0;
}
<div class="product-by">
    @T("Product.Category") :
    @foreach (var item in Model)
    {
        itemCount++;
        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })">@item.CategoryName</a>if (itemCount != Model.Count()){<text>, </text>}
    }
</div>
