    <table style="margin:25px; ">          
        <tr>
            <td >
               <strong> Add Phone Number</strong>
            </td>
            <td style="padding:5px;">:</td>
            <td >
                <input type="tel" name="customerPhoneNumber" id="AddPhoneNum" pattern="^\d{4}-\d{3}-\d{4}$" required *>
            </td>
        </tr>   
    </table>    