<div class="row" style="margin:10px;">
    <div style="text-align: center;" class="col-md-12">
        <label>Add Phone Number :</label>
        <input name="customerPhoneNumber" id="AddPhoneNum" required="" title="Enter a phone number" aria-required="true" class="input-validation-error" aria-describedby="AddPhoneNum-error" aria-invalid="true" type="tel">
        <span style="color:red;">*</span>
        <span id="spnPhoneStatus" style="display:none;">Invalid Phone #</span>
    </div>
</div>
<script type="text/javascript">
    $('#AddPhoneNum').blur(function () {
        $('#spnPhoneStatus').hide();
        var phonenumber = $(this).val();
        var phoneNum = phonenumber.replace(/[^\d]/g, '');
        if (phonenumber.length > 6 && phonenumber.length < 11) {
            $.ajax({
                url: '/GBSOrder/AddSessionVar',
                type: 'POST',
                contentType: 'application/json;',
                data: JSON.stringify({ phnum: $(this).val() }),
                success: function (valid) { }
            });
        } else {
            $('#spnPhoneStatus').show();
            $('#spnPhoneStatus').css('color', 'red');
            document.getElementById("AddPhoneNum").focus();
            document.getElementById("AddPhoneNum").value = "";
            return false;
        }
    });


</script>
