@model TopicModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Models.Topics;
@using Nop.Core.Infrastructure;
@using Nop.Services.Logging;
@using Nop.Services.Catalog;
@using Nop.Core.Domain.Catalog;
@{
    string page = string.Empty;
    try
    {
        int prodId = Convert.ToInt32(Request.QueryString["id"]);
        int cartId = Convert.ToInt32(Request.QueryString["cartid"]);

        string sku = Request.QueryString["sku"];

        var SpecAttr = EngineContext.Current.Resolve<ISpecificationAttributeService>();
        var CurrentSpecAttr = (IList<ProductSpecificationAttribute>)SpecAttr.GetProductSpecificationAttributes(prodId);

        TempData["productid"] = prodId;
        TempData["cartid"] = cartId;

        foreach (var item in CurrentSpecAttr)
        {

            if (item.SpecificationAttributeOption.SpecificationAttribute.Name == "IframeURL")
            {
                page = item.SpecificationAttributeOption.Name;
            }
        }

        page = page + sku;
    }
    catch (Exception ex)
    {
        page = string.Empty;
    }
}
<form id="product-attributes-form">
@{
    try
    {
        int i = 0;
        string value = string.Empty;
        if (!string.IsNullOrEmpty(TempData.Peek("productAttributes").ToString()))
        {
            foreach (var item in (IList<ProductDetailsModel.ProductAttributeModel>)TempData.Peek("productAttributes"))
            {
                <input name="product_attribute_@item.Id" class="@item.Name" type="hidden" id="product_attribute_@item.Id" value="@value"/>
                i++;
            }
        }
    }
    catch (Exception ex)
    {

    }
}

</form>
@{


    <div class="gluon-template"  style="overflow:hidden; height:1100px">
        <iframe src="@T("hom.url")@page" style="height:1100px; width:100%;"></iframe>
    </div>
}
 <!--product attributes-->
<script type="text/javascript">
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];
    var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
    var imageUrl = '';
    var check = true;

    // Listen to message from child window
    eventer(messageEvent, function (e) {
        //if (JSON.parse(e.data).success == true) {
        //    if (check) {
                check = addToCart(e.data);
        //    }
        //}
    }, false);
    function addToCart(val) {
        $(".CustomImgUrl").val(JSON.parse(val).preview);
        AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = TempData["productid"], shoppingCartTypeId = TempData["cartid"] })', '#product-attributes-form');
        return false;
    }
</script>