<?xml version="1.0" encoding="utf-8" ?>
<Theme title="HouseOfMagnets Theme" 
	   supportRTL="false"
	   mobileTheme="false"
     previewImageUrl="~/Themes/HouseOfMagnet/Hom_product-page.jpg"
     previewText="Simplex Theme is simple and elegant theme which gives modern look and feel to your nopCommerce store front. Built on the top of Bootstrap using latest HTML5 and CSS3 Techniques.">
</Theme>