body {
}

.side-content{
    width: 100%;
    height: 100%;
}

#gluon-iframe {
    /*height: 100% !important;*/
}

#spinnerAddToCart {
    display: none;
    position: relative;
    z-index: 4;
    top: -1248px;
    left: 500px;
}

/*CANVAS ON NOP NATIVE*/

#badgeFields {
    background-color: #F4F4F4;
    width: fit-content;
    height: fit-content;
    padding: 10px;

}

.form-block {
    margin-bottom: 12px;
}

    .form-block label {
        float: left;
        display: block;
        font-weight: bold;
        margin: 0 4px 4px 0;
        font: bold 13px/13px Droid Sans, sans-serif;
    }

    .form-block input[type=text] {
        float: left;
        width: 140px;
        font-family: Droid Sans, sans-serif;
        margin-right: 2px;
    }

.btn-bold-control,
.btn-italic-control {
    display: block;
    float: left;
    width: 24px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    color: #000;
    font: normal 14px/14px Droid Sans, sans-serif;
    text-align: center;
    padding: 4px 0;
}

.btn-bold-control.active,
.btn-italic-control.active {
    background-color: #777;
    color: #fff;
}

.btn-bold-control:hover,
.btn-italic-control:hover {
    text-decoration: none;
}

.btn-bold-control {
    font-weight: bold;
    margin: 0 4px;
}

.btn-italic-control {
    font-style: italic;
}

.button {
    display: block !important;
    float: left;
    clear: both;
    cursor: pointer;
    margin-bottom: 10px;
}

#btnDiv {
    margin-top: 10px;
    height : 120px;
}

.btn-update-designs {
    margin-bottom: 14px !important;
}

.left-side {
    float: left;
}

.right-side {
    float: left;
}

.right-side .item-box {
    min-width : 300px !important;
}