@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
	<div class="row1">
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_top" })
       
	   <div class="home-promo-tiles">
            <p><a href="/request-quote"><img src="/Content/Images/uploaded/tile_quote.jpg" alt="Request a Quote"></a></p>
			<p><a href="/testimonials"><img src="/Content/Images/uploaded/tile_testimonials.jpg" alt="Read Testimonials"></a></p>
        </div>
		
		
	</div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_categories" })
        @await Component.InvokeAsync("HomepageCategories", "Catalog")
        @await Component.InvokeAsync("TopicBlock", "Topic", new { systemName = "tm_home-cta" })
        @await Component.InvokeAsync("TopicBlock", "Topic", new { systemName = "tm_testimonials-home-page" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_products" })
        @await Component.InvokeAsync("HomepageProducts", "Product")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_best_sellers" })
        @await Component.InvokeAsync("HomepageBestSellers", "Product")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_news" })
        @await Component.InvokeAsync("HomePageNews", "News")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_poll" })
        @await Component.InvokeAsync("HomePagePolls", "Poll")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_bottom" })
    </div>
</div>


