@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;
<div class="checkout-data">
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_info_top" })
    <div class="section payment-info">
        <div class="info">
            @await Component.InvokeAsync(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
        </div>
        @{
            var validationSummary = Html.ValidationSummary(false);
        }
        @if (!string.IsNullOrEmpty(validationSummary.ToHtmlString()))
        {
            <div class="message-error">@validationSummary</div>
        }
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_info_bottom" })
    @if (Model.DisplayOrderTotals)
    {
        <div class="order-summary-body">
            @await Component.InvokeAsync("OrderSummary", "ShoppingCart")
        </div>
    }
</div>
