@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

<div class="header littlecaesars">
    @await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @*@Html.Action("TopicBlock", "Topic", new { systemName = "pizza_preheader-message" })*@
            @await Component.InvokeAsync("TopicBlock", new { systemName = "pizza_preheader-message" })

            @await Component.InvokeAsync("TaxTypeSelector")
            @await Component.InvokeAsync("CurrencySelector")
            @await Component.InvokeAsync("LanguageSelector")
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
        </div>

        <style type="text/css">
            .header-lower::before {
                content: '';
                width: 100vw !important;
                height: 100% !important;
                position: absolute !important;
                background-color: #f5821f !important;
        </style>

        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="Little Caesars" src="/Themes/PurplePizza/Content/images/logo_littlecaesars.png">
            </a>
        </div>
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
</div>
