	
/* -- Header and background styles -- */
	.master-column-wrapper {
		background-repeat: repeat-x,repeat;
		background-position: top;
		background-image: url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/white-bg.gif), url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/wood_texture.jpg);
		background-color: #ffffff;
	}

	.au-editor-1 {
		background-image: none;
	}
	
	.header-lower, .header-menu, .newmenu {
		display: none !important;
	}

	.header-upper {
	    background-color: #77AEB1;
		border-bottom: 8px solid #446769;
	}
	.shippingall, .flyout-main-wrapper .shopping-cart-link .cart-label, .header-top-right ul li a, .flyout-main-wrapper .shopping-cart-link .cart-qty {
    	color: #ffffff;
    }
	.pre-header-promo-text {
    display: none  !important;
	}
	.pre-header-back-link {
		display: inherit !important;
	}
	.au-editor-1 .au-header.au-editor {
		 height: 119px;
	}
	.header-top-right ul li .ico-account {
   		background: url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/user-icon_white.png) no-repeat 15px 9px;
	}
	.header-top-right ul li .ico-logout {
	    background: url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/logout-icon_white.png) no-repeat 15px 9px;
	}
	.header-top-right ul li .ico-login {
	    background: url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/login-icon_white.png) no-repeat 15px 9px;
	}
	.header-top-right ul li .ico-wishlist {
    	background: url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/wishlist-icon_white.png) no-repeat 15px 10px;
	}
	.flyout-main-wrapper .shopping-cart-link .ico-cart {
    	background: url(/Plugins/Widgets.CustomersCanvas/Editors/editor-notecard/imports/resources/raster/cart-icon_white.png) no-repeat 0px 0px;
	}
	.goToTop #flyout-cart .shopping-cart-link{
		display:none!important;
	}

/* -- Thumbnail steps styles -- */
	.paper-tab-0{
   		padding: 0 14px;
	}
	
	.iron-selected span.glow.nav-bar-text.style-scope.au-editor {
    	color: #59BA41;
	}

/* -- Editor H1 step styles -- */
.au-editor-step-front-1 h1.au-editor-step-front,
.au-editor-step-greeting-1 h1.au-editor-step-greeting,
.au-editor-step-envelope-1 h1.au-editor-step-envelope,
.au-editor-step-mailing-1 h1.au-editor-step-mailing,
.au-editor-step-backside-1 h1.au-editor-step-backside,
.au-editor-step-approve-1 h1.au-editor-step-approve {
    color: #ffffff;
}
	
/* -- Envelope step styles -- */
	.au-editor-1 .au-header.au-editor{
		-webkit-box-shadow: 0 10px 10px -10px #000000;
		-moz-box-shadow: 0 10px 10px -10px #000000;
		box-shadow: 0 10px 10px -10px #000000;    
		}
	.au-option-1 .color-option.au-option {
		margin: 2%;
		}
	.au-option-1 .color-option.au-option::before {
	    opacity: 0.65;
		}		
	#bgImage {
		width: 84%;
		height: 84%;
		display: initial !important;
		max-width: 490px !important;	
		max-height: 490px !important;	
		}
	
 /* -- Greeting step styles -- */	
	label.style-scope.au-editor-step-greeting {
		color: #ffffff;
		margin-top: 20px;
	}
	/*-- Hiding greeting dropdown --*/
	label.style-scope.au-editor-step-greeting, .au-editor-step-greeting-1 #au-greeting-select.au-editor-step-greeting  {display: none;}
	
	
 /* -- Address step styles -- */		
	#backSurfaceBtn, #faceSurfaceBtn {
  	  display: none;
	}

.bottomToolbar>.btn:first-child {
    display: none;
}


 /* -- Charity step styles -- */	
 
	 #charityinfo img {
		padding: 10px;
		margin: 0 auto;
		text-align: center;
		background-color: #fff;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.au-editor-step-backside-1 .charity-logo.au-editor-step-backside {
		width: 150px;
	}
	
	label.style-scope.au-editor-step-backside {
		color: #ffffff;
		margin-top: 10px;
	}

 	 
 /* -- Proof step styles -- */
	
	#iagreechk {
		margin-top:20px;
    	margin-bottom: 20px;
	}
ul.style-scope.au-editor-step-approve {
    margin-bottom: 20px;
}
