@using Nop.Plugin.Widgets.CustomersCanvas.Controllers
@using Nop.Plugin.Widgets.CustomersCanvas.Model
@model EditorPageModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@Html.Action("ProductDetailsAfterBreadcrumb", "CcWidget", Model)

@Html.Widget("product_editor_page")
<style>
	 .aurigma-editor-parent:before{
	    display: block;
		content: " ";
		width: 100%;
		background-color: rgba(0,0,0,.61);
		transition: height 2s linear;
		height: 0;
	}
	.aurigma-editor-parent:empty:before {
	     height: 95vh;
	}
	.aurigma-editor-parent:empty:after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		color: white;
		font-size: 24px;
		content: "Please wait.";
	}

</style>
<link href="/Themes/SimplexTheme/Content/css/ncc-editor-styles.css" rel="stylesheet">
<div id="editor-parent-for-productid-@Model.ProductId" class="aurigma-editor-parent"></div>