
.fns-speedfilters .block {
    min-height: 46px;
    margin: 0 auto 10px;
}

    .fns-speedfilters .block .title {
        position: relative;
        overflow: hidden;
        padding: 0;
        background: #f6f6f6;
        margin: 0;
        border: none;
    }

    .fns-speedfilters .block .filtersGroupPanel {
        position: relative;
        padding: 15px 10px;
        overflow: hidden;
    }

    .fns-speedfilters .block .title div.toggleControl {
        position: relative;
        display: block;
        cursor: pointer;
        padding: 14px 40px 12px 10px;
        color: #444;
        font-size: 18px;
    }

        .fns-speedfilters .block .title div.toggleControl:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 14px;
            width: 12px;
            height: 19px;
            margin-top: -9px;
            background: url('../images/filters-toggle.png')center no-repeat;
        }

    .fns-speedfilters .block .title a.clearFilterOptions {
        position: absolute;
        top: 50%;
        right: 40px;
        font-size: 14px;
        line-height: 1;
        text-transform: lowercase;
        color: #888;
        cursor: pointer;
        margin-top: -7px;
    }

        .fns-speedfilters .block .title a.clearFilterOptions:hover {
            text-decoration: underline;
        }

    .fns-speedfilters .block .title div.toggleControl {
        font-weight: 700;
    }

.fns-speedfilters .filter-data-block a.filter-item-unselected {
    background: url(../images/filters-checkbox.png) no-repeat scroll 0px 1px rgba(0, 0, 0, 0) !important;
    color: #333333 !important;
    padding-left: 20px !important;
    font-size: 14px !important;
}

.fns-speedfilters .filter-data-block a.filter-item-selected {
    background: url(../images/filters-checkbox-checked.png) no-repeat scroll 0px 1px rgba(0, 0, 0, 0) !important;
    padding-left: 19px !important;
    color: #B80705 !important;
    font-size: 15px !important;
}
