@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@model Nop.Plugin.BusinessLogic.GBS.Models.GatewayPageProductCategoriesModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@{

    Layout = "";

}

   <div class='pricing bottommargin clearfix'>

       @{
           foreach (var item in Model.productBoxes)
           {

            @Html.Partial("GatewayCategoryProduct", item)

           }
        }

   </div>