@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@model Nop.Plugin.BusinessLogic.GBS.Models.MarketCenterGalleryCategoriesModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@{

    Layout = "";

}

   <div class='pricing bottommargin clearfix'>

       @{
           foreach (var item in Model.CategoriesList)
           {


            @Html.Partial("", item)


           }
    }

   </div>