@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using Nop.Services.Configuration;
@model Nop.Plugin.BusinessLogic.GBS.Models.MarketCenterGatewayTabModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core;
@using Nop.Web.Framework.Themes


@{

    Layout = "";
    //var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/hom-gateway.css", themeName));

}


@{
//var bestPrice = "";
//var mostPopular = "";
//var alt = Model.name.Replace(" ", "") + "-image";
//var width = Model.width.ToString("f1");
//var length = Model.length.ToString("f1");

//if (Model.isFeatured)
//{
//    bestPrice = "pricing-box best-price";
//    mostPopular = "Most Popular";
//} else
//{
//    bestPrice = "pricing-box";
//}
}


@*<div class='col-md-3 accessory'>*@
    @* tab data *@
    @Html.Raw(Model.html)
@*</div>*@
