@using Nop.Web.Models.ShoppingCart;
@using System.Web.UI;



<div class="card-image-section info-icons">
    <div class="title">
        <strong>@T("shoppingcart.cardimage.title")</strong>
    </div>
    <div class="card-type-image-section">
        <i class="fa fa-cc-visa fa-3x gbs-visa-icon-color" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard fa-3x gbs-master-card-icon-color" aria-hidden="true"></i>
        <i class="fa fa-cc-amex fa-3x gbs-amex-card-icon-color" aria-hidden="true"></i>
        <i class="fa fa-cc-discover fa-3x gbs-discover-card-icon-color" aria-hidden="true"></i>
    </div>
</div>