<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
    <link rel="shortcut icon" href="http://www.bellagiftwrap.com/favicon.ico" />


	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/one-page/onepage.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/one-page/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/themes/bellagiftwrap/content/one-page/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="/themes/bellagiftwrap/content/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/themes/bellagiftwrap/content/js/jquery.js"></script>
	<script type="text/javascript" src="/themes/bellagiftwrap/content/js/plugins.js"></script>

	<!-- Document Title
	============================================= -->
	<title>Bella Gift Wrap Co.</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= 
		<header id="header" class="full-header static-sticky" data-sticky-class="not-dark" data-sticky-offset="0">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

				
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="/themes/bellagiftwrap/content/images/canvasone-dark.png"><img src="/themes/bellagiftwrap/content/images/canvasone.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="/themes/bellagiftwrap/content/images/canvasone-dark@2x.png"><img src="/themes/bellagiftwrap/content/images/canvasone@2x.png" alt="Canvas Logo"></a>
					</div>

				
                
					<nav id="primary-menu">

						<ul class="/themes/bellagiftwrap/content/one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
							<li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
							<li><a href="#" data-href="#section-about"><div>About</div></a></li>
							<li><a href="#" data-href="#section-works"><div>Works</div></a></li>
							<li><a href="#" data-href="#section-services"><div>Services</div></a></li>
							<li><a href="#" data-href="#section-blog"><div>Blog</div></a></li>
							<li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
						</ul>

					</nav>

				</div>

			</div>

		</header> #header end -->
        
        <!-- Bella
		============================================= -->
        
      <div class="section notopmargin"  style="margin: 0px; padding: 25px 0; background-color: #000; background-image:url(/themes/bellagiftwrap/content/images/bella-header-texture.png); background-repeat:repeat-x;    border-bottom: 15px solid #888;">
					<div class="container center clearfix">

						<div>
							<img src="/themes/bellagiftwrap/content/images/bella-logo_white.png">
						</div>


					</div>
				</div>
                
                

	  <!-- Content
		============================================= -->
		
		
				@Html.Action("TopicBlock", "Topic", new { systemName = "bella-homepage" })
		
		
	
		
		
		
		
		
		
		
		
		<!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">

			<div id="copyrights">
				<div class="container topmargin-sm center ls2 uppercase clearfix">
					Copyright  <a href="http://www.gogbs.com">GRAPHIC BUSINESS SOLUTIONS, INC.</a> <script>document.write(new Date().getFullYear())</script> | All Rights Reserved

					  <div class="center topmargin-sm">
						<a href="https://www.facebook.com/notecardcafe" class="social-icon inline-block si-borderless si-small si-facebook" title="Facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="https://twitter.com/notecardcafe" class="social-icon inline-block si-borderless si-small si-twitter" title="Twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						
						<a href="https://www.pinterest.com/notecardcafe" class="social-icon inline-block si-borderless si-small si-pinterest" title="Pinterest">
							<i class="icon-pinterest"></i>
							<i class="icon-pinterest"></i>
						</a>
					</div>
				</div>
			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/themes/bellagiftwrap/content/js/functions.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-229771-13', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>