@using Nop.Plugin.Widgets.Marketing.EmailPref.Models;
@model  MarketingFormModel
@{
    Layout = null;
}


<script type="text/javascript">
    $(document).ready(function () {

        function submitForm() {
            $.ajax({
                cache: false,
                url: $("#FooterJoinForm")[0].action,
                type: 'post',
                data: $("#FooterJoinForm").serialize(),
                dataType: 'html',
                success: function (data) {
                    $('#message').html(data);
                    $('#form').hide();
                    $('#message').show();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#message').html(data);
                    $('#form').hide();
                    $('#message').show();

                }
            });
        };

        $("#newsletter-popup-a").click(function () {
            $('#message').hide();
            $('#form').show();
            $('#formModal').modal();
        });

        $("#submitForm").click(function () {
            var setError = '';
            if ($("#emailAddress").val() == '') {
                setError = 'Please enter an email address.<br/>';
            }
            if (checkOptInEmail($("#emailAddress").val()) == false) {
                setError = 'Invalid email address.<br/>';
            }
            if ($("#firstName").val() == '') {
                setError = setError + 'Please enter a first name.<br/>';
            }
            if ($("#lastName").val() == '') {
                setError = setError + 'Please enter a last name.<br/>';
            }
            if ($("#zipCode").val() == '') {
                setError = setError + 'Please enter a zipcode.<br/>';
            }

            if (setError == '') {
                if (document.getElementById('emailAddress').value != '') {
                    submitForm();
                } else {
                    showError('There was an error with the data you entered.');
                }
            } else {
                showError(setError);
            }
        });

        function showError(errorDesc) {
            document.getElementById('errorMsg').style.display = '';
            document.getElementById('errorMsg').innerHTML = errorDesc;
        }

        function checkOptInEmail(email) {
            // email ADDRESS
            var atFound = -1;
            var dotFound = -1;
            var charFound = false;
            var checkStr;
            var splitString;

            checkStr = email

            splitString = checkStr.split("");
            for (var i = 0; i < checkStr.length + 1; i++) {
                if (splitString[i] == "\"" | splitString[i] == "'") {
                    return false;
                }
                if (splitString[i] < " " | splitString[i] > " ") { charFound = true; }
                if (splitString[i] == "@@") { atFound = i; }
                if (splitString[i] == ".") { dotFound = i; }
                if (splitString[i] == ",") { return false; }
            }
            if (charFound == true) {
                if (atFound > -1) {
                    if (dotFound > -1) {
                        if (dotFound < atFound) {
                            return false;
                        } else {
                            if ((dotFound - atFound) == 1 | dotFound == (checkStr.length - 1) | atFound == 0) {
                                return false;
                            }
                        }
                    } else {
                        return false;
                    }
                } else {
                    return false;
                }
            }
            return true;
        }
    });

    idleTime = 0;
    $(document).ready(function () {
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }
        $limit = 1;

        //alert(getUrlParameter('utm_source'));
        if (getUrlParameter('utm_source').toLowerCase() == 'cordial') {
            $.cookie('email-captured', '1', { expires: 180, path: '/' });
            //alert($.cookie('email-captured'));
            //alert(getUrlParameter('utm_source'));
        }

        if ($.cookie('email-popup') != '1' && $.cookie('email-captured') != '1') {
            //$('.cookie').html('<p>You haven\'t been to this page recently, or you\'ve cleared your browser\'s stored cookies.  Welcome!  Shortly, you\'ll see the email subscription popup.  If you refresh the page, this message will change!</p>');

            function timerIncrement() {
                idleTime = idleTime + 1;
                if (idleTime == $limit) {
                    $(document).ready(function () {
                        $('#message').hide();
                        $('#form').show();
                        $('#formModal').modal();
                    });
                }
            }

            // Increment the idle time counter every second.
            var idleInterval = setInterval(timerIncrement, 1000); // 1 second

            // Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                //idleTime = 0;
            });
            $(this).keypress(function (e) {
                //idleTime = 0;
            });

            $.cookie('email-popup', '1', { expires: 180, path: '/' });
        } else {
            //$('.cookie').html('<p>You have been to this page recently.  Welcome back!  You won\'t see the email subscription popup.  If you\'d like to see it again, clear your browser\'s cookies.</p>');
        }

    });
</script>

<div id="newsletter-popup">
    <a id="newsletter-popup-a" href="javascript:void(0)">Subscribe to our email lists</a>
</div>


<div class="modal fade" id="formModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <div id="formwrapper">
                    <div id="form">
                        <p class="email_heading">Join our email list</p>
                        <p class="email_bodytext">Subscribe today and here's<br />what you'll receive:</p>
                        <ul class="email_bodytext_list">
                            <li>Exclusive offers delivered straight to your inbox.</li>
                            <li>Notices for new product introductions.</li>
                            <li>Monthly upcoming marketing opportunities.</li>
                        </ul>


                        <div id="email_form">


                            @using (Html.BeginRouteForm("JoinList", null, FormMethod.Post, new { id = "FooterJoinForm" }))
                            {
                                <div id="formSub">
                                    <div class="requiredMsg">ALL FIELDS ARE REQUIRED</div>
                                    <table>
                                        <tr>
                                            <td><div class="emailHeading">EMAIL ADDRESS</div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="emailAddress" id="emailAddress" value="" placeholder="Enter email address" onfocus="" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="emailHeading">FIRST NAME</div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="firstName" id="firstName" value="" placeholder="Enter first name" onfocus="" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="emailHeading">LAST NAME</div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="lastName" id="lastName" value="" placeholder="Enter last name" onfocus="" /></td>
                                        </tr>
                                        <tr>
                                            <td><div class="emailHeading">ZIP CODE</div></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="zipCode" id="zipCode" value="" placeholder="Enter zip code" onfocus="" /></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div id="errorMsg" style="color:#FF0000; display:none">Please fill in all fields</div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <input type="button" id="submitForm" class="button button-3d button-rounded button-darkgreen" value="SIGN ME UP">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="hidden" id="emailLists" name="emailLists" value="@Model.EmailList" />

                                    </div>
                                </div>


                                @*if (true)
                        {
                        <div class="form-group">
                            <div class="captcha-box col-md-6">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        </div>
                        }*@

                            }

                        </div> <!--/ email_form -->

                        <div id="HOMLogo"><img src="/Themes/HouseOfMagnet/Content/images/logo_HOM.png" width="150" /></div>

                        <p class="email_bodytext_footer">
                            1912 John Towers Ave. El Cajon, CA 92020<br />
                            (800) 789-6247 (lower 48 U.S. states only)
                        </p>
                        <p class="email_bodytext_footer"><a href="javascript:void(0)" onclick="window.location = '/privacy-notice';">Our Privacy Policy</a></p>
                    </div>
                    <div id="message"></div>

</div>
        </div>
    </div>

</div>
<style>
    #formModal .modal-dialog {
        width: 330px;
        margin: 30px auto
    }
    #formModal body {
        margin: 0px;
    }

    #formModal #HOMLogo {
        padding: 12px 0px 5px 0px;
    }

    #formModal p.email_heading {
        font: bold 22px/22px Arial, Helvetica, sans-serif;
        display: block;
        color: #002147;
        margin: 0px 0px 10px 0px;
    }

    #formModal .email_bodytext {
        font: bold 14px/16px Arial, Helvetica, sans-serif;
        color: #292929;
        margin: 5px 5px;
    }

    #formModal .email_bodytext_thanks {
        font: normal 12px/14px Arial, Helvetica, sans-serif;
        color: #292929;
        margin: 0px 0px 10px 0px;
    }

    #formModal .email_bodytext_list {
        font: normal 11px/11px Arial, Helvetica, sans-serif;
        line-height: 18px;
        color: #666;
        margin: 0px 0px 5px 20px;
    }
        #formModal .email_bodytext_list li {
            list-style: square;
        }

    #formModal .email_bodytext_footer {
        font: normal 11px/11px Arial, Helvetica, sans-serif;
        color: #666;
        margin: 0px 0px 5px 0px;
    }

        #formModal .email_bodytext_footer a {
            font: normal 11px/11px Arial, Helvetica, sans-serif;
            color: #666;
            margin: 0px 0px 5px 0px;
            text-decoration: none;
        }

            #formModal .email_bodytext_footer a:hover {
                font: normal 11px/11px Arial, Helvetica, sans-serif;
                color: #666;
                margin: 0px 0px 5px 0px;
                text-decoration: none;
            }

    #formModal #formwrapper {
        width: 100%;
        /*height:230px;*/
        padding: 10px 0px 0px 0px;
        text-align: left;
        border-top: solid 15px #002147;
    }
    #formModal #form, #message {
        margin: 0px 30px 30px;
    }

    #formModal #inner-wrapper {
        margin: 25px;
    }

    #formModal #inner-wrapper2 {
        margin: 0px 20px 20px 20px;
    }


    #formModal #email_form {
        margin-left: 0px;
        padding-top: 10px;
    }

    #formModal input[type="text"] {
        margin: 0px 0px 12px 0px;
        _margin-top: 15px !important;
        padding: 0px 0px 0px 5px;
        width: 220px;
        height: 25px;
        background: #FFFFFF;
        border: 1px solid #dbdbdb !important;
        float: left;
    }

    #formModal #emailInput {
        margin: 0px 0px 0px 0px;
        _margin-top: 15px !important;
        padding: 0px 0px 0px 5px;
        width: 220px;
        height: 25px;
        background: #FFFFFF;
        border: 1px solid #dbdbdb !important;
        float: left;
    }

    #formModal #emailSubmit {
        display: block;
        width: 110px;
        height: 30px;
        background: #ff6f06;
        border: none !important;
        float: left;
        cursor: pointer;
        font-size: 14px;
        line-height: 22px;
        overflow: hidden;
        color: #FFF;
        font-weight: bold;
    }

    #formModal #thankyouClose {
        width: 90px;
        height: 30px;
        background: #ff6f06;
        border: none !important;
        cursor: pointer;
        font-size: 12px;
        line-height: 22px;
        overflow: hidden;
        color: #FFF;
        font-weight: bold;
    }

    #formModal .emailHeading {
        font: bolder 14px/14px Arial, Helvetica, sans-serif;
        color: #002147;
    }

    #formModal .successMsg {
        margin: 20px 0px 0px 65px;
        font: bold 12px Arial, Helvetica, sans-serif;
        color: #333;
    }

    #formModal .requiredMsg {
        margin: 0px 0px 5px 5px;
        font: bold 10px/10px Arial, Helvetica, sans-serif;
        color: #FF0000;
    }

    #formModal #errorMsg {
        padding: 0px 0px 10px 0px;
        font: normal 12px Arial, Helvetica, sans-serif;
        color: #FF0000;
    }
    #formModal button.close {
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-width: 3px;
        border-style: solid;
        border-color: #002147;
        border-radius: 100%;
        background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%);
        background-color: #002147;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
        transition: all 0.3s ease;
        opacity: 1;
        position: relative;
        top: -5px;
        left: 8px;
    }

    #newsletter-popup-a {
        color: #ffffff;
        font-weight: bold;
    }    
</style>

