@model List<Category>
@using System.Data.Entity;
@using Nop.Core;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;
@using System.Data;
@using System.Text;
@using Nop.Services.Catalog;
@using Nop.Web.Infrastructure;
@{ 
    var categoryService = EngineContext.Current.Resolve<ICategoryService>();
    SportsTeam sportsTeam = new SportsTeam(ViewBag.Id);
}

@for (int j = 0; j < Model.Count; j++)
{
    IList<Category> teamList = categoryService.GetAllCategoriesByParentCategoryId(Model[j].Id);
    List<SportsTeam> teams = sportsTeam.CreateSportsTeamListFromCategories(teamList);
    var teamsInOrder = teams.OrderBy(x => x.Name).ToList();
    int cur = 1;
    <section id='content@(j + 1)'>
        <p>

            @foreach (var curTeam in teamsInOrder)
            {

                //SportsTeam curTeam = new SportsTeam(team.Id);

                if (cur % 8 == 0)
                {

                    @:<p class='inner-team-list'>
                                                }

                <a id='@curTeam.Id' class='team-from-list' href='@curTeam.SeName'> @curTeam.Name </a><br />

                if (cur % 8 == 7)
                {
                    @:</p>
                                                }

                cur++;

            }

        </section>
}
